* {
    font-family: 'Ubuntu', sans-serif;
}
/* Header of the Window */
#Header {
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0px;
    left: 0px;
    background-color: rgb(50, 130, 210);
    display: flex;
    flex-direction: column;
    text-align: center;
}

#Header > * > img {
    cursor: pointer;
    user-select: none;
    -webkit-app-region: no-drag;
    filter: invert(27%) sepia(8%) saturate(3645%) hue-rotate(203deg) brightness(92%) contrast(86%);
}

#change-bots {
    position: fixed;
    width: 30px;
    height: 30px;
    margin: 10px 10px 10px 20px;
}

#change-bots > img {
    width: 30px;
    height: 30px;
}

#new-command {
    position: fixed;
    left: 60px;
    margin: 10px 10px;
    width: 30px;
    height: 30px;
}

#new-command > img {
    width: 30px;
    height: 30px;
}

#reload {
    position: fixed;
    left: 700px;
    margin: 10px 10px;
    width: 30px;
    height: 30px;
}

#reload > img {
    width: 30px;
    height: 30px;
}

#help {
    position: fixed;
    width: 30px;
    height: 30px;
    left: 730px;
    margin: 10px 20px; 
}

#help > a > img {
    width: 30px;
    height: 30px;
    user-select: none;
    -webkit-app-region: no-drag;
    filter: invert(27%) sepia(8%) saturate(3645%) hue-rotate(203deg) brightness(92%) contrast(86%);
}

#Header > p {
    font-size: 20px;
    color: white;
}



/* Main Part of the Window */
#Main {
    position: fixed;
    width: 800px;
    height: 550px;
    top: 50px;
    left: 0px;
    background-color: rgb(166, 201, 157);
    display: flex;
    flex-direction: row;
}

#Command-box {
    width: 600px;
    height: 550px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#Command-box > h3 {
    margin: 5px;
    color: white;
}

#command-list {
    width: 100%;
    height: 100%;
}

.command {
    width: 100%;
    min-height: 35px;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.command-i {
    width: 240px;
    word-wrap: break-word;
    overflow: auto;
    outline: none;
    border: 1px solid lightgray;
    font-size: 15px;
    margin-right: 10px;
    margin-left: 10px;
    color: black;
}

.responce-i {
    width: 240px;
    word-wrap: break-word;
    overflow: auto;
    outline: none;
    border: 1px solid lightgray;
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
    color: black;
}

.command > .save {
    width: 60px;
    height: 25px;
    background-color: #e3e3e3;
    color: rgb(180, 180, 200);
    font-size: 13px;
    margin-right: 5px;
    border: none;
}

.command > .delete {
    width: 60px;
    height: 25px;
    background-color: #e3e3e3;
    color: rgb(180, 180, 200);
    font-size: 13px;
    margin-right: 5px;
    border: none;
    transition: all 300ms ease-in-out;
}

.command > .delete:hover {
    background-color: red;
    color: white;
}

#Log-box {
    position: fixed;
    top: 50px;
    left: 600px;
    width: 200px;
    height: 530px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-left: 1px solid rgba(10, 10, 10, 0.253);
    background-color: rgba(50, 50, 50, 0.253);
    transition: all 500ms ease-in-out;
    opacity: 100;
    visibility: visible;
}

#Log-box > h3 {
    margin: 5px;
    color: rgb(210, 210, 233);
}

#Log-box > div {
    width: fill;
    height: auto;
    margin: 5px;
}

.text {
    background-color: white;
    color: black;
    overflow: hidden;
    text-align: left;
    padding: 1px;
    border-radius: 5px;
}

.text > p {
    font-size: 13px;
    word-wrap: break-word;
}

/* PopUp Window */
.refocus {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.411);
    visibility: hidden;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.refocus.active {
    visibility: visible;
    opacity: 100;
}

.popup {
    width: 300px;
    height: 150px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.popup > .one {
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.one > input {
    width: 240px;
    height: 30px;
    outline: none;
    border: none;
    background-color: whitesmoke;
    font-size: 15px;
    color: darkgray;
}

.popup > .two {
    width: 300px;
    height: 50px;
    display: flex;
    flex-direction: row;
}

.pos-button {
    width: 150px;
    height: 50px;
    border: 1px solid lightgray;
    background-color: white;
    font-size: 15px;
}
.neg-button {
    width: 150px;
    height: 50px;
    border: 1px solid lightgray;
    background-color: white;
    font-size: 15px;
}
